# Dependencies
node_modules

# Build outputs
dist/
.vercel

# Test coverage
coverage

# Environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temporary files
*.log
*.backup.*
.backup.*

# Project-specific
luxury-mobile-boost/
